{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "printWidth": 120,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "endOfLine": "lf",
  "importOrder": [
    "^@api/(.*)$",
    "^@customTypes/(.*)$",
    "^@context/(.*)$",
    "^@views/(.*)$",
    "^@containers/(.*)$",
    "^@controls/(.*)$",
    "^@components/(.*)$",
    "^@hooks/(.*)$",
    "^@store/(.*)$",
    "^@scripts/(.*)$",
    "^@images/(.*)$",
    "^@icons/(.*)$",
    "^[./]",
    "^[../]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}